start.sh # includes secrets
.cursorrules
.DS_Store
settings.json
.env
.changelog
*.npy
*.ckpt
*.h5
*.png
!samples.png 
!banner.png
*.ige
*.csv
*.pt
*.gif
!banner.gif
*.tif
*.npz
*.img
*.xml
*.safetensors
*.pkl
*.bin
*.wandb
*.npy
*.tex
*.zip
*.swp
*.pdf
*.pptx
*.log
*.keras
*.txt
!requirements.txt
tex/
__pycache__/
.ipynb_checkpoints/
*.egg-info/
*.egg
*.mp4
*.gpkg
*.raw
*.geojson
*.parquet

nohup.out

venv/
.venv/

old/
logs/
design/
paper/

# Ignore all wandb files and directories
wandb/
**/wandb/
**/*.wandb


data/split_16.gpkg
*papermill.ipynb