start.sh # includes secrets
.cursorrules
.DS_Store
settings.json
.env
.changelog
*.npy
*.ckpt
*.h5
*.png
!banner.png 
!banner.png
*.ige
*.csv
*.pt
*.gif
!banner.gif
*.tif
*.npz
*.img
*.xml
*.safetensors
*.pkl
*.bin
*.wandb
*.npy
*.tex
*.zip
*.swp
*.pdf
*.pptx
*.log
*.keras
*.txt
!requirements.txt
tex/
__pycache__/
.ipynb_checkpoints/
*.egg-info/
*.egg
*.mp4
*.gpkg
*.raw
*.geojson
*.parquet

nohup.out

venv/
.venv/

old/
logs/
!logs/.gitkeep
design/
paper/
.research

# Ignore all wandb files and directories
wandb/
**/wandb/
**/*.wandb


data/split_16.gpkg
*papermill.ipynb
*hierarchical-case-study.ipynb
*hierarchical-case-study-v2.ipynb
data/__MACOSX/Base_boundary_shp/._US_military_boundary.cpg
data/__MACOSX/Base_boundary_shp/._US_military_boundary.dbf
data/__MACOSX/Base_boundary_shp/._US_military_boundary.prj
data/__MACOSX/Base_boundary_shp/._US_military_boundary.sbn
data/__MACOSX/Base_boundary_shp/._US_military_boundary.sbx
data/__MACOSX/Base_boundary_shp/._US_military_boundary.shp
data/__MACOSX/Base_boundary_shp/._US_military_boundary.shx
data/Base_boundary_shp/US_military_boundary.cpg
data/Base_boundary_shp/US_military_boundary.dbf
data/Base_boundary_shp/US_military_boundary.prj
data/Base_boundary_shp/US_military_boundary.sbn
data/Base_boundary_shp/US_military_boundary.sbx
data/Base_boundary_shp/US_military_boundary.shp
data/Base_boundary_shp/US_military_boundary.shx

.metaflow
